*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li {
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
}

.atvnav{
    display: none;
    cursor: pointer;
}

.atvnav div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;

}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 50%;
    }  
}

@media screen and (max-width:1400px) {
    .nav-links{
        width: 55%;
    }  
}



@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
   .nav-links{
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 8vh;
       background-color: #5d4954;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 34%;
       transform: translate(100%);
       transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .atvnav{
        display: block;
    }
}

.nav-active{
    transform: translate(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(40px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.imgindex{
    background: 
      radial-gradient(black 3px, transparent 4px),
      radial-gradient(black 3px, transparent 4px),
      linear-gradient(#fff 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }

.teambackground{
    background-color: #1b1519;
    
}

.team{
    margin: 75px 0;
    color: rgb(226, 226, 226);
    font-family: 'Poppins', sans-serif;
}

.row{
    position: absolute;
    left: 33%;
    color: rgb(226, 226, 226);
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(226, 226, 226);
    padding-bottom: 10px;
}

h1::after{
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 350px;
    margin: 10px auto;

}

.profile{
    margin-top: 25px;
}

.profile .imgbox{
    opacity: 1;
    display: block;
    position: relative;

}

.profile h2{
    font-size: 36px;
    font-weight: bold;
    margin-top: 15px;
}

.profile h3{
    font-size: 28px;
    margin-top: 15px;
}

.imgbox::after{
    content: '';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

}

.imgbox ul{
    margin: 0;
    padding: 20px 50;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;   
}

.imgbox ul li{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 3px;
    padding: 7px;
    display: inline-block;

}

.imgbox{
    color: #fff;
}

.imgbox:hover::after{
    opacity: 1;

}

.imgbox:hover ul{
    opacity: 1;
}

.imgbox:hover li{
    color: #007bff;
    border: 1px solid #007bff;

}

.imgbox::after, .imgbox ul, .imgbox ul li{
    transition: all 0.5s ease-in-out 0s;
}